#!/bin/sh

[[ -f ~/.zshenv ]] && . ~/.zshenv

# Redshift
redshift &

# Setting theme for Qt apps
export QT_QPA_PLATFORMTHEME=qt5ct

#removing GTK decorations
export GTK_CSD=0
export LD_PRELOAD='/usr/${LIB}/libgtk3-nocsd.so.0'

#Keyboard settings
numlockx on

#wallpaper
{
	while true
	do
		feh --randomize --bg-fill /usr/share/backgrounds/*
		sleep 1800
	done
} &
